<form id="hike-add-form">
  <fieldset>Add A Hike</fieldset>
  
  <label for="name">Hike Name:</label>
    <input required name="name" placeholder="trail name, etc.">
  

  <label for="location">Location:</label>
    <input required name="location" placeholder="forest, city, mountian, etc.">

  <label for="description">Description:</label>
    <textarea required name="description" placeholder="Say something about how it went, elevantion change, milage, and views"></textarea>
  
  <div class="buttons">
  <button type="button">Cancel</button>
  <button type="submit">Add</button>
  </div>

  <p class="error"></p>
  </form>