<form>
    <label>
      <div>Hike Name</div>
      <input required name="name">
    </label>
  
    <label>
      <div>Location</div>
      <input required name="location" placeholder="forest name, city, mountian, etc.">
    </label>

    <label>
        <div>Description</div>
        <textarea required name="description" placeholder="say something about how it went, elevantion change, milage, and views"></textarea>
    </label>
  
    <label>
      <button type="button">Cancel</button>
      <button type="submit">Add</button>
    </label>
  
    <p class="error"></p>
  </form>