@import '../variables.css';

.hidden {
  display: none;
}

#header {
  img {
    width: 50px;
    display: inline-block;
  }
}

#welcome-heading {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  top: 10rem;
  color: $font;
  font-family: 'Comfortaa', cursive;
  text-shadow: .2rem .2rem $background;
  text-transform: uppercase;
  letter-spacing: .3rem;
}