@import '../variables.css';

.hidden {
  display: none;
}

#root {
  height: 100%;
}

#header {
  img {
    width: 50px;
    display: inline-block;
  }
}

#splash {
  background-color: $background;
  height: 100%;
}

#welcome-heading {
  z-index: 100;
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  top: 10rem;
  color: $font;
  font-family: 'Comfortaa', cursive;
  text-shadow: .2rem .2rem $background;
  text-transform: uppercase;
  letter-spacing: .3rem;
  line-height: 2.5rem;
}

#welcome img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}