@import '../variables.css';
#root {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
  "header"
  "main"
  "footer";
  grid-template-rows: auto 1fr auto;
}

#header { grid-area: header; } 
#main { grid-area: main; } 
#footer { grid-area: footer; } 

header {
  background-color: $headfoot;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 a {
    display: flex;
    align-items: center;
    font-size: $fluidFontSize;
    font-family: $header-font;
  }
  img {
    width: 50px;
  }
}

main {
  h1 {
    font-size: $fluidFontSize;
  }
  .hike-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    .hike {
      flex-grow: 1;
    }
  }
}

#splash {
  background-color: $splash-background;
  height: 100%;
}

#welcome-heading {
  z-index: 100;
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  top: 10rem;
  color: $splash-font;
  font-family: 'Comfortaa', cursive;
  text-shadow: .2rem .2rem $splash-background;
  text-transform: uppercase;
  letter-spacing: .3rem;
  line-height: 2.5rem;
}

#welcome img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#add-hike {
  display: none;
}

footer {
  text-align: center;
  background-color: $headfoot;
  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    li {
      margin: .3rem .5rem;
    }
  }
}

.hidden {
  display: none;
}

@media (min-width:800px) {
  #add-hike {
    display: inherit;
    form {
      display: flex;
      flex-direction: column;
    }
  }
  #nav {
    display: none;
  }
}