$splash-font: #EEE5E9;
$splash-background: #080705;

$font: #0D160B;
$background: #C4E0BE;
$headfoot: #385432;
$box: #64825D;

$header-font: 'Comfortaa', sans-serif;
$content-padding: .5rem 1rem;


/* RESPONSIVE TYPOGRAPHY VALUES, SPECIFY WITHOUT PX
   https://www.smashingmagazine.com/2016/05/fluid-typography/ */
$minFontVal: 18;
$maxFontVal: 24;
$minViewportVal: 450;
$maxViewportVal: 1400;

$minFontSize: $(minFontVal)px;
$maxFontSize: $(maxFontVal)px;
$minViewportSize: $(minViewportVal)px;
$maxViewportSize: $(maxViewportVal)px;

$fluidFontSize: calc($minFontSize + ($maxFontVal - $minFontVal) * (100vw - $minViewportSize) / ($maxViewportVal - $minViewportVal));