@import './components/variables.css';

* {
  box-sizing: border-box;
}

body {
  /* https://css-tricks.com/snippets/css/system-font-stack/ */
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  hyphens: auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-weight: bold;
  font-size: 2.827em;
}

h2 {
  font-weight: bold;
  font-size: 1.99em;
}

h3 {
  font-weight: bold;
  font-size: 1.414em;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

/* hide screen-reader only text. https://webaim.org/techniques/css/invisiblecontent/ */
.clip {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
